*.pyc
__pycache__
*.sqlite3
*.DS_Store
*.log
*.pot
*.pyo
*.pyd
*.db
*.sqlite
/env/
/venv/
/env*
/virtualenv/
/.venv/
/media/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.egg
*.egg-info/
dist/
build/
*.swp
*.swo
.idea/
.vscode/
*.code-workspace
*.cache
*.bak
*.tmp
*.swp
*.swo
*.swn
*.swo
*.sublime-project
*.sublime-workspace
.coverage
coverage.xml
*.cover
.pytest_cache/
htmlcov/

